{% extends 'layouts/base.html' %}

{% block title %} Delete Fees {% endblock title %}

{% block content %}

<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Delete Fee Type</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Are you sure you want to delete "{{ fee_type.Fee_name }}"?</h6>
            <div class="pl-lg-4">
              <div class="row">
                <button class="btn btn-danger" type="submit">Confirm Delete</button>
                <a href="{% url 'fee_type_list' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %} {% endblock javascripts %}
