{% extends 'layouts/base.html' %}

{% block title %} Transaction Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">  

          <div class="row align-items-center py-2">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Transactions</h6>
              
            </div>
          </div>

          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Enrolled Students</h5>
                      <span class="h2 font-weight-bold mb-0">{{ total_students }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-single-02"></i> 
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <!-- <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> 3.48%</span> -->
                    <span class="text-nowrap">Association of computer Scientist</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Pending Paymemts</h5>
                      <span class="h2 font-weight-bold mb-0">{{ pending_payers }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-watch-time"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">Association Computer Scientist</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Paid Students</h5>
                      <span class="h2 font-weight-bold mb-0">{{ paid_payers }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-check-bold"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    {% comment %} <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span> {% endcomment %}
                    <span class="text-nowrap">Association Computer Scientist</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Collections</h5>
                      <span class="h2 font-weight-bold mb-0">P{{ total_collections }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 5.65%</span> -->
                    <span class="text-nowrap">Association Computer Scientist</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Recent Transactions</h3>
                </div>
                <div class="col text-right">
                  <a href="{% url 'list_transaction' %}" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Student Number</th>
                    <th scope="col">Student Fullname</th>
                    <th scope="col">Received by</th>
                    <th scope="col">Fee Type</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Date</th>
                    
                  </tr>
                </thead>
                <tbody class="list">
                  {% for transaction in object_list %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center"> 
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{ transaction.Student.Student_number }}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        <div class="media align-items-center"> 
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{ transaction.Student }}</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        {{ transaction.Officer }}
                      </td>
                      <td>
                        {{ transaction.Payment_type }}
                      </td>
                      <td>
                        {{ transaction.Amount }}
                      </td>
                      <td>
                        {{ transaction.Transaction_date }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      
        <div class="col-xl-6">
          <div class="card">
              <div class="card-header border-0">
                  <div class="row align-items-center">
                      <div class="col">
                          <h6 class="text-uppercase text-muted ls-1 mb-1">For First Semester</h6>
                          <h5 class="h3 mb-0">Total Collections by Year Level</h5>
                      </div>
                      <div class="col text-right">
                        <a href="" class="btn btn-sm btn-primary">Export Charts</a>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <!-- Chart -->
                  <div class="chart" data-year-levels="{{ collections_by_year.Year_levels|join:', ' }}"
                      data-amounts="{{ collections_by_year.amounts|join:', ' }}">
                      <canvas id="chart-bars" class="chart-canvas"></canvas>
                  </div>
              </div>
          </div>
      </div>

      </div>

      
    
    </div>
    

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
